#juego{
    display: none;
}

#finbueno{
    display: none;
}

#finmalo{
    display: none;
}

#empezar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}