body{
    margin: 0;
    padding: 0;
}

#contenedor{
    width: 100%;
    height: 100vh;
    background-color: rgb(204, 252, 133);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 90, 0);
}

h3{
    margin: 6px;
}

#juego{
    width: 900px;
    height: 600px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}

#forma{
    display: none;
    position: relative;
}