body{
    margin: 0;
    padding: 0;
    background-color: rgb(163, 215, 255);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

#contenedor-publicar{
    width: 50%;
    height: 80vh;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

#titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

h1{
    font-size: 70px;
    margin:0;
    color:  #0072ff;
}

#icon{
    width: 60px;
    height: auto;
    margin-left: 10px;
    margin-top: 10px;
}

#mensaje{
    border: 2px solid white;
    height: 50px;
    width: 400px;
    background-color: #00408ec0;
    color: white;
    margin: 10px;
    padding: 10px;
}

#publicacion{
    height: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#botonpubli{
    border: 0;
    border-radius: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 30px;
    width: fit-content;
    padding: 5px;
    background-color: white;
    align-self: self-end;
    margin: 10px;
}

#botonpubli:hover{
    background-color: #00408ec0;
    color: white;
    border: 2px solid white;
}